#social_share_wrapper.wrapper
	%h3 Comparte en redes sociales
	#social_imgs
		%a.btn.btn-social-icon.btn-facebook{:href => "https://www.facebook.com/dialog/feed?app_id=1644344205837343&link=http://www.zonaetbmoviles.com/&name=name&picture=#{image_url("http://res.cloudinary.com/hkxncjq1k/image/upload/c_scale,w_245/v1439439931/logo_rock_parque_inrsvn.png")}&redirect_uri=http://www.zonaetbmoviles.com/", :target => "blank"}
			%i.fa.fa-facebook
		%a.btn.btn-social-icon.btn-twitter{:href => "http://twitter.com/home?status=Ya estoy registrado en la ZonaETBMóviles para disfrutar de Rock al Parque de la manera más exclusiva @rockalparquefes @juandelahouse", :target => "blank", :title => "http://www.zonaetbmoviles.com/"}
			%i.fa.fa-twitter