#terms_wrapper
  %h2 Términos y Condiciones
  %p
    La Empresa de Telecomunicaciones de Bogotá S.A. E.S.P (en adelante ETB) domiciliada en la ciudad de Bogotá en la carrera 8 # 20-56 , desarrollará la actividad ZONA ETB Móviles durante el evento ROCK AL PARQUE 2015,  los términos que a continuación se establecen los podrá encontrar en la dirección www.zonaetbmoviles.com.

    Aceptación de los términos

    Toda persona que participe en la actividad (“Participante”) expresamente acepta todas y cada una de las disposiciones descritas en los presentes términos (los “términos”), que se encuentran a disposición del público como se indica más abajo. La participación en la actividad implica el pleno conocimiento y aceptación de estos términos y de los requisitos para participar en el mismo. ETB se reserva el derecho a modificar, ampliar y/o aclarar estas Bases en cualquier momento.

    Actividad Zona ETB Móviles

    Se entregará una boleta doble para asistir a la actividad especial de marca desarrollada por MOVILES 4G ETB durante el evento ROCK AL PARQUE 2015 que se desarrollará dentro de las instalaciones del parque Simón Bolívar los días 15, 16 y 17 de agosto de 2015

    Dentro de la actividad los participantes tendrán derecho a ingresar en una zona especial donde podrán reclamar un refrigerio cada día, observar las pantallas con contenido del evento y de la marca, descansar en zonas dispuestas para esto y participar en actividades que les permitan disfrutar de una experiencia particular con la marca.

    Participantes

    Cada Participante deberá cumplir con las siguientes condiciones:

    1.  Aplica para ventas realizadas en las tiendas Centro y/o Kennedy o en tiendas móviles entre el 11 y el 14 de agosto de 2015.
    2.  Haber adquirido uno de nuestros planes pospago (nuevo o en portabilidad), prepago de $10.000 en adelante o SIM prepago en portabilidad.
    3.  Los cupones serán entregados hasta agotar existenci. (Son 400 cupones)
    4.  Debe ser mayor de 14 años.
    5.  Tener documento de identidad vigente
    6.  El  cupón que recibe el participante podrá ser transferido para beneficiar a quien considere


    Entrada al evento

    Una vez se realice la compra y/o activación en los planes pospago, o el servicio  prepago se entregará un cupón con un código que debera ingresar en la URL www.zonaetbmoviles.com, una vez llene el registro a vuelta de correo electrónico recibirá la entrada para ingresar al evento y que deberá presentar el día del evento para el respectivo ingreso de la actividad.


    Cronograma
    • Publicación del sitio para registro: sábado 8 de agosto de 2015
    • Cierre de registros: 14 de agosto de 2015 a las 11:59:59 p.m
    • Actividad: 15, 15 y 17 de agosto de 2015 entre las 11:00 a.m y las 8:00 p.m


    Exención de responsabilidad por mal funcionamiento

    ETB queda exonerado de toda responsabilidad en caso de mal funcionamiento de este sitio habilitado para el registro de participantes, en dicho caso ETB comunicará vía sus canales de comunicación alguna contingencia para el registro extemporáneo y/o diferente de los participantes de la actividad.


    Datos Personales y Derechos Cedidos

    Los datos personales facilitados por los Participantes y usuarios serán guardados por el ETB o aquellas terceras personas físicas o jurídicas a las que el Organizador pueda autorizar (en adelante, “Terceros”), para la gestión de la presente actividad y su utilización para fines comerciales y publicitarios de ETB y/o Terceros, aceptando los Participantes expresamente desde ya y por el sólo hecho de su participación en la actividad o los usos expuestos así como la posibilidad de recibir comunicaciones futuras sobre los productos o servicios de ETB, promociones y ofertas, incluso por vía electrónica.

    Dadas las condiciones de seguridad vigentes hoy en Internet, los Participantes deben entender que cada vez que divulguen voluntariamente información personal en línea, esta puede ser recogida y utilizada por otros.

    Se le informa al usuario que como titular de los datos personales, le asisten los siguientes derechos:
    • Conocer, actualizar y rectificar sus datos personales frente a los Responsables y Encargados;
    • Solicitar prueba de la autorización otorgada a los Responsables y Encargados;
    • Ser informado por los Responsables y Encargados, previa solicitud, respecto del uso que le ha dado a sus datos personales;
    • Previa queja o consulta ante los Responsables y Encargados, presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a la normatividad legal aplicable;
    • Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales.
    • Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento. Los participantes tendrán sobre sus datos personales todos los derechos y garantías que aseguren las leyes del país en donde se encuentren domiciliados.
