default: &default
  DOMAIN: 'localhost'
  PORT: '3000'
  DATABASE_PASSWORD: 'user'
  DATABASE_USER: 'pass'
  SMTP_DEFAUL_FROM: 'user'
  SMTP_USER_NAME: 'user'
  SMTP_USER_PASSWORD: 'pass'
  SMTP_SERVER: 'smtp.gmail.com'
  SMTP_DOMAIN: 'localhost'

development:
  <<: *default
  SECRET_KEY_BASE:

test:
  <<: *default
  SECRET_KEY_BASE:

production:
  DOMAIN: 'zonaetbmoviles.com'
  SMTP_DEFAUL_FROM: 'user@mail.com'
  SMTP_USER_NAME: 'user'
  SMTP_USER_PASSWORD: 'pass'
  SMTP_SERVER: 'smtp.sendgrid.net'
  SMTP_DOMAIN: 'heroku.com'
  CLOUDINARY_URL: 'cloudinary://api_key:api_secret@cloud_name'
  SECRET_KEY_BASE: 'key'