.title {
  padding-right: 20px;
  position: relative;
  left: 35%;
  width: 65%;
}

.register {
  margin-top: 30px;
  position: relative;
  width: 150px;
  left: 60%;
}

.new_user {
  padding-right: 30px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

.form_item {
  padding-left: 0;
  padding-right: 0;
}

.txt_form {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #000000;
  font-size: 18px;
  padding-left: 3%;
}

.lbl_checkbox {
  font-size: 14px;
  left: 20px;
}

.send {
  width: 100%;
  max-width: 200px;
}

.prepare {
  margin-top: 30px;
  position: relative;
  max-width: 600px;
  width: 100%;
}
